html {
  /*makes it so the scrollbar doesn't move content*/
  overflow-y: scroll;
}

html,
body {
  /*creates height for sticky footer*/
  height: 100%;
}

body {
  font-family: Tahoma, Verdana, san-serif;
  font-size: small;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 18px;
}

#allcontent {
  /*affects all content and creates overall container for it*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto;
  text-align: center;
  min-height: 122vh;
}

header {
  height: 60px;
  width: 100%;
}

#emblembox {
  /*small box around logo above content on all pages*/
  margin: 15px auto 30px auto;
  width: 80px;
  position: relative;
  right: 5px;
}

#emblem {
  /*small logo above all content*/
  width: 100%;
}

.little_name {
  width: 100%;
  font-size: 120%;
  font-family: "Amatic SC", cursive;
  padding-right: 0px;
  position: relative;
  right: 3px;
}

.page_header {
  font-size: 200%;
  position: relative;
  right: 9px;
  margin-bottom: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

a {
  /*removes default color and underline*/
  text-decoration: none;
  color: #000;
}

a:hover {
  /*changes color when hovered over*/
  color: #ccc;
}

a:visited {
  /*changes color of visited links*/
  color: darkgray;
}

ul {
  /*removes bullets on list*/
  list-style-type: none;
}

nav {
  border-bottom: 1px solid gray;
  position: fixed;
  padding: 10px;
  width: 100%;
  background: white;
  z-index: 1000;
}

nav ul {
  text-align: center;
  margin-right: 30px;
}

nav ul li {
  display: inline;
  font-size: 80%;
  padding: 10px;
}

.spacer {
  /*spacer to allow for position fixed header to not overlay */
  height: 30px;
}

#leftnav {
  /*left navigation panel*/
  float: left;
  width: 10%;
  height: 200px;
  margin-left: 20px;
}

#leftnav ul {
  text-align: center;
}

#leftnav ul li {
  padding: 8px;
  font-size: 80%;
}

.main {
  /*content inbetween leftnav panel and aside*/
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.main p {
  font-weight: normal;
  text-indent: 20px;
  margin-bottom: 5px;
}

.wrapper {
  text-align: center;
  width: 80%;
  margin: auto;
}

#logo {
  /*splash page logo*/
  width: 40%;
  margin: 30px auto 15px auto;
  padding-left: 50px;
  min-width: 150px;
}

#my_name {
  /*splash page name*/
  text-align: center;
  margin-bottom: 250px;
  font-weight: normal;
  font-family: "Amatic SC", cursive;
  font-size: 200%;
  position: relative;
  right: 3px;
}

aside {
  /*aside to right of main content*/

  float: right;
  width: 10%;
  height: 80%;
  margin-right: 20px;
}

aside ul li {
  padding: 8px;
  font-size: 80%;
}

.follow {
  /*small icons for links to twitter, github, etc*/
  width: 30px;
}

footer {
  border-top: 1px solid gray;
}

footer p {
  text-align: center;
}

#selfie {
  /*selfie on about page*/
  float: left;
  width: 100px;
  padding-right: 8px;
  padding-bottom: 5px;
  border-radius: 15px;
}

#portfolio_thumbnails {
  margin-bottom: 200px;
}
.project_photos {
  /*small portfolio project pictures*/
  height: 150px;
  width: 250px;
  border: 2px solid black;
  margin: 20px;
}

#box_1 {
  /*my first website*/
  position: relative;
  float: left;
  background-image: url("../images/bond_thumbnail.jpg");
  background-size: cover;
}
#box_2 {
  /*rpg game*/
  position: relative;
  float: right;
  background-image: url("../images/chrono_trigger_pixel_art.png");
  background-size: cover;
}

#box_3 {
  /*countdown timer*/
  position: relative;
  float: left;
  background-image: url("../images/countdown.jpg");
  background-size: cover;
}

#box_4 {
  /*debugging*/
  position: relative;
  float: right;
  background-image: url("../images/debugging.jpg");
  background-size: cover;
}

#box_5 {
  /*mobile apps*/
  position: relative;
  float: left;
  background-image: url("../images/mobile.jpg");
  background-size: cover;
}

#box_6 {
  /*group projects*/
  position: relative;
  float: right;
  background-image: url("../images/teamwork.jpg");
  background-size: cover;
}
#box_7 {
  /*group projects*/
  position: relative;
  float: left;
  background-image: url("../images/cli.jpg");
  background-size: cover;
}
#box_8 {
  /*group projects*/
  position: relative;
  float: right;
  background-size: cover;
  background-image: url("../images/bamazon.jpg");
}
#box_9 {
  /*group projects*/
  position: relative;
  float: left;
  background-image: url("../images/cyborg.jpg");
  background-size: cover;
}
#box_10 {
  /*group projects*/
  position: relative;
  float: right;
  background: black;
  background-size: cover;
  background-image: url("../images/burger.png");
}

.project_spans {
  /*title/caption on portfolio project pics*/
  background: #708090;
  text-align: center;
  margin-top: 105px;
  color: ghostwhite;
  font-size: 150%;
  padding: 8px 0px 8px 0px;
  opacity: 0.9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#contact_form {
  text-align: left;
  padding: 0px 30px 30px 0px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: lightgray;
}

.media_aside {
  visibility: hidden;
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
  #logo {
    padding-left: 10px;
  }

  #my_name {
    position: relative;
    right: 10px;
  }

  #leftnav {
    display: none;
  }

  aside {
    /*aside to right of main content*/
    float: right;
    width: 23%;
    height: 100px;
    margin-left: 20px;
  }

  aside ul li {
    padding: 8px;
    font-size: 80%;
    display: inline;
    margin-top: 50px;
  }
  .connect_icons {
    padding-top: 50px;
  }

  .main {
    position: relative;
    float: right;
    width: 50%;
  }

  #portfolio_thumbnails {
    text-align: center;
    margin-bottom: 50px;
  }

  .portfolio_links {
    display: inline-block;
  }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
  .project_photos {
    display: block;
  }

  #logo {
    padding-left: 10px;
  }

  #my_name {
    position: relative;
    right: 5px;
  }

  #leftnav {
    display: none;
  }

  .main {
    position: relative;
    /* width: 80%; */
    height: 60%;
  }

  .main_aside {
    display: none;
  }

  .media_aside {
    visibility: visible;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .media_aside ul li {
    display: inline;
    padding: 0px 15px 0px 15px;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
  }

  #portfolio_thumbnails {
    height: 80%;
  }
}

@media only screen and (max-width: 640px) {
  .project_photos {
    display: block;
  }

  #logo {
    padding-left: 10px;
  }

  #my_name {
    position: relative;
    right: 5px;
  }

  #leftnav {
    display: none;
  }

  #main {
    position: relative;
    /* width: 80%; */
    height: 60%;
  }

  .main_aside {
    display: none;
  }

  #main_portfolio_page {
    position: relative;
    width: 100%;
    height: 70%;
  }

  .media_aside {
    visibility: visible;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .media_aside ul li {
    display: inline;
    padding: 0px 15px 0px 15px;
  }

  #portfolio_thumbnails {
    text-align: center;
  }

  .portfolio_links {
    display: inline-block;
  }
}
